
body {
    font-family: Arial, sans-serif;
}
h1, h2, h3 {
    font-weight: bold;
}

.btn-color {
    background-color: #22C55E;
    color: #ffff;
}

.btn-color:hover {
    background-color: #1e994b;
    color: #ffff;
}

/* ------------------------------------------------------------------------------------------------- */
/* ====================================== first section ============================================ */
/* ------------------------------------------------------------------------------------------------- */

.bg-gradient-section {
    background: linear-gradient(to right, #6dffa0, #c7ffd8) !important
}

.text-green {
    color: #22C55E;
}

/* ------------------------------------------------------------------------------------------------- */
/* ===================================== Second section ============================================ */
/* ------------------------------------------------------------------------------------------------- */

.bloc-color {
    background-color: #c7ffd8;
}

/* ------------------------------------------------------------------------------------------------- */
/* ===================================== third section ============================================= */
/* ------------------------------------------------------------------------------------------------- */

.bg-success {
    background: linear-gradient(90deg, #1e994b, #92cc3c) !important;
}


/* ------------------------------------------------------------------------------------------------- */
/* ===================================== Fourth section ============================================ */
/* ------------------------------------------------------------------------------------------------- */



/* ------------------------------------------------------------------------------------------------- */
/* ========================================= Footer ================================================ */
/* ------------------------------------------------------------------------------------------------- */

footer a:hover {
    text-decoration: underline;
}

.bg-footer {
    background-color: #15803D;
}

.margin-bottom {
    padding-bottom: 1rem;
}