html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
    font-family: Arial, sans-serif;
}
h1, h2, h3 {
    font-weight: bold;
}

.btn-color {
    background-color: #22C55E;
    color: #ffff;
}

.btn-color:hover {
    background-color: #1e994b;
    color: #ffff;
}


/* ------------------------------------------------------------------------------------------------- */
/* ========================================= NavBar ================================================ */
/* ------------------------------------------------------------------------------------------------- */

#navbar {
    background-color: transparent;
    transition: background-color 0.4s, box-shadow 0.4s;
}

#navbar.scrolled {
    background-color: rgb(222, 245, 220);
    box-shadow: 0 10px 10px rgba(0,0,0,0.1);
}

/* ------------------------------------------------------------------------------------------------- */
/* ====================================== HOME first section ============================================ */
/* ------------------------------------------------------------------------------------------------- */

.bg-gradient-section {
    background: linear-gradient(to right, #6dffa0, #c7ffd8) !important
}

.text-green {
    color: #22C55E;
}

/* ------------------------------------------------------------------------------------------------- */
/* ===================================== HOME Second section ============================================ */
/* ------------------------------------------------------------------------------------------------- */

.bloc-color {
    background-color: #c7ffd8;
}

/* ------------------------------------------------------------------------------------------------- */
/* ===================================== HOME third section ============================================= */
/* ------------------------------------------------------------------------------------------------- */

.bg-success {
    background: linear-gradient(90deg, #1e994b, #92cc3c) !important;
}


/* ------------------------------------------------------------------------------------------------- */
/* ===================================== HOME Fourth section ============================================ */
/* ------------------------------------------------------------------------------------------------- */



/* ------------------------------------------------------------------------------------------------- */
/* ========================================= Footer ================================================ */
/* ------------------------------------------------------------------------------------------------- */

footer a:hover {
    text-decoration: underline;
}

.bg-footer {
    background-color: #15803D;
}

.margin-bottom {
    padding-bottom: 1rem;
}


/* ------------------------------------------------------------------------------------------------- */
/* ====================================== COVOITURAGES ============================================= */
/* ------------------------------------------------------------------------------------------------- */


.mt-8rem {
    margin-top: 8rem;
}